<br>
    <div class="content" id=texto>
      	<p id="texto" > A importância do estudo da geometria espacial está na compreensão do mundo real em que vivemos, bem como na aplicação de nossos conhecimentos em matemáticas.
        </p>
	

	<h5 class="header center" id="titulo">Poliedros</h5>
        <br>
   	<p class="text" text-aling="justify" > Tipos de corpos geométricos sólidos.
        </p>
	
	<h5 class="header center" id="titulo">Poliedros convexos</h5>
        <br>
    <p class="text" id="texto"> A superfície de cada poliedro é formada por polígonos planos, chamados faces do poliedro;</p>
    <p  class="text" id="texto" > Os lados dos polígonos são chamados de arestas do poliedro;</p>
    <p  class="text"id="texto" > Os vértices dos polígonos são os vértices do poliedro.</p>
      		
<div>

 