<h5 class="header center" id="titulo">Cone</h5>
    <div class="content" id=texto>
      	<p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" text-aling="justify" > Consideremos um círculo de centro O e raio r, situado num plano &alpha;, e um ponto V, fora de &alpha;. </p>
        <p class="text" text-aling="justify" > Dá-se o nome de cone circular, ou cone, a reunião dos segmentos com uma extremidade V e a outra em um ponto do círculo. </p>
        <br>
        <h5 class="header center" id="titulo">Elementos</h5>
        <br>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" id="texto" > O ponto V é o vértice do cone.</p>
        <p class="text" id="texto" > O círculo de raio r é a base do cone.</p>
        <p class="text" id="texto" > Cada segmento com uma extremidade V ne a outra num ponto de circunferência da base é uma geratriz do cone.</p>
        <p class="text" id="texto" > A distância h do vértice ao plano da base é a altura do cone.</p>
        <br>

        <h5 class="header center" id="titulo">Classificação</h5>
        <br>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" text-aling="justify" > Quanto à inclinação da reta <i class="sublinhado2">VO</i> em relação ao plano da base, um cone classifica-se em: </p>
        <p class="text" id="texto" > Cone oblíquo, quanto a reta <i class="sublinhado2">VO</i>  é oblíqua à base;</p>
        <p class="text" id="texto" > Cone oblíquo, quanto a reta <i class="sublinhado2">VO</i>  é oblíqua à base;</p>
        <p class="text" id="texto" > O cone reto, quando a reta <i class="sublinhado2">VO</i> é perpendicular À base. Nesse caso, <i class="sublinhado">VO</i> é a altura do cone.</p>

        <h5 class="header center" id="titulo">Áreas e volume</h5>
        <br>
        <p class="text" id="texto3" > Área da base (Ab)</p>
        <p class="text" id="texto" > A área de um círculo de raio r é chamada de área da base.</p>
        <p class="text" id="texto2" > Ab = πr²</p>

        <p class="text" id="texto3" > Área lateral (Al)</p>
        <p class="text" id="texto" > Área lateral é a área de um setor circular cujo raio é g (geratriz do cone) e cujo comprimento do arco é 2πr.</p>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" id="texto2" > Al = πrg</p>

        <p class="text" id="texto3" > Área  total (At)</p>
        <p class="text" id="texto" > A superfície total de um cone é a reunião da superfície lateral com o círculo da base.</p>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" id="texto2" > At = πr (g + r)</p>

        <p class="text" id="texto3" > Volume (V)</p>
        <p class="text" id="texto" > O volume do cone é obtido da mesma forma que se obtém o volume da pirâmide.</p>
        <p class="text" id="texto2" > V = 1/3 * πr²h </p>

        <h5 class="header center" id="titulo">Seção meridiana e cone equilátero</h5>
        <br>
        <p class="text" text-aling="justify" > Seção meridiana de um cone é a interseção dele com um plano que contem o segmento <i class="sublinhado2">VO</i>.</p>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" text-aling="justify" >O <b>cone equilátero</b> é um cone reto cuja seção meridiana é um triângulo equilátero.</p>
        <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" text-aling="justify" >Vejamos agora as fórmulas do cone equilátero: </p>
        <p class="text" id="texto3" >Área lateral</p>
        <p class="text" id="texto2" >Al  = 2πr²</p>
        <p class="text" id="texto3" > Área total</p>
        <p class="text" id="texto2" > At = 3πr²</p>
        <p class="text" id="texto3" > Volume</p>
        <p class="text" id="texto2" > V = &radic;3/3 * πr²</p>
        <br>
     
             		
</div>
