<h5 class="header center" id="titulo">Cubo</h5>
    <div class="content" id=texto>
      	<p class="text" text-aling="justify" > O cubo é um paralelepípedo retângulo cujas seis faces são quadrados. Assim, suas 12 arestas são congruentes entre si. </p>
	    <p class="text" id="texto" > (IMAGEM)</p>
        <p class="text" id="texto" > Vejamos agora as fórmulas do cubo:</p>
        <p class="text" id="texto" > Área S:</p>
        <p class="text" id="texto2" > S = 6a² </p>
        <p class="text" id="texto" >Diagonal d:</p>
        <p class="text" id="texto2" > d = a&radic;3 </p> 
        <p class="text" id="texto" >Volume V:</p>
        <p class="text" id="texto2" >V = A³ </p>               		
</div>
