
 
  <div class="parallax-container">
    <div class="parallax"><img  class="responsive-img"  src="img/platao.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Geometria Espacial</h2>
      <p class="grey-text text-darken-3 lighten-3">Aplicativo com teoria e calculos relacionados a geometria espacial</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img  class="responsive-img" src="img/maxresdefault.jpg"></div>
  </div>
  <div class="row container">
  		</br>
      <p class="grey-text text-darken-3 lighten-3">Geometra Espacial na pratica :</p>
    </div>
    <div class="parallax-container">
	    <div class="parallax"><img  class="responsive-img"  src="img/obras.jpg"></div>
  </div>


<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> Sobre o Aplicativo</h5>
               	<table>    
	                <tbody>
				          <tr>
				            <td style="color:#fff;">Informaçoes</td>
				            <td> <a href="#sobre"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating second"ary-content"> <img src="font/material-design-icons/send.svg"></a>
				            </td>
				          </tr>
				            
				          </tr>
				      </tbody>
            	</table>                          
              </div>
             
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Copyright IFBA
            </div>
          </div>
        </footer>
