<h5 class="header center" id="titulo">Paralelepípedo</h5>
    <div class="content" id=texto>
      	
      	<p class="text" text-aling="justify" > São prismas cujas bases são paralelogramos. Um paralelepípedo pode ser: </p>
	    <p class="text" id="texto" > Oblíquo: a superfície total é a reunião de seis paralelogramos.</p>
        <p class="text" id="texto" > Reto: a superfície total é a reunião de quatro retângulos (faces laterais) com dois paralelogramos (bases).</p>
        <p class="text" id="texto" > Retângulo: a superfície total é a reunião de seis retângulos.</p>
        <p class="text" id="texto" > Cubo: a superfície total é a reunião de seis quadrados.</p>

        <h5 class="header center" id="titulo">Paralelepípedo retângulo – equações</h5>

        <p class="text" text-aling="justify" > Considere um dado paralelepípedo: </p>
        <p class="text" id="texto" >(IMAGEM)</p>

       <p class="text" id="texto3" >Cálculo da área total:</p>
       <p class="text" text-aling="justify" >  Planificando o paralelepípedo retângulo, vê-se que sua área total S é a soma dos seis retângulos. Logo:</p>
       <p class="text" id="texto2" >S = 2ab + 2ac + 2bc</p>

       <p class="text" id="texto3" >Cálculo da diagonal:</p>
       <p class="text" text-aling="justify" >  Sejam d a medida da diagonal do paralelepípedo e d1 a medida da diagonal da base, mostradas na figura ao lado. </p>
       <p class="text" id="texto" >(IMAGEM)</p>
       <p class="text" text-aling="justify" > Observe que os triângulos BAD e D’DB são retângulos:  </p>
       <p class="text" id="texto" >(IMAGEM)</p>
       <p class="text" id="texto2" > D= &radic; a² + b² + c²</p>

       <p class="text" id="texto3" >Cálculo do volume:</p>
       <p class="text" text-aling="justify" > O volume V de um paralelepípedo de dimensões a, b e c é dado pela fórmula: </p>
       <p class="text" id="texto2" >V = a * b * c ou V = Ab * h</p>

         
        
      		
</div>

 