<h5 class="header center" id="titulo">Poliedros de Platão</h5>
<div class="content" id=texto>
      	<p class="text" text-aling="justify" > São classificados como poliedros de Platão quando satisfazem três condições:
        </p>
        <p class="text" id="texto" > Todas as faces tem o mesmo número de arestas;</p>
        <p class="text" id="texto" > Todos os vértices são pontos em que concorre o mesmo número de arestas;</p>
        <p class="text" id="texto" > O poliedro é euleriano.</p>
        
<div>