<h5 class="header center" id="titulo">Poliedros Regulares</h5>
    <div class="content" id=texto>
      	<p class="text" text-aling="justify" > São classificados como poliedros convexos regulares quando: </p>
	      <p class="text" id="texto" > Suas faces são polígonos regulares;</p>
        <p class="text" id="texto" >  Em todos os seus vértices concorre o mesmo número de arestas.</p>
        <p class="text" text-aling="justify" > Imediatamente, num poliedro regular, percebe-se: </p>
        <p class="text" id="texto" > Todas as faces têm o mesmo número de arestas (pois as faces são congruentes);</p>
        <p class="text" id="texto" > Todos os vértices são pontos em que concorre o mesmo número de arestas;</p>
        <p class="text" id="texto" > Poliedro é euleriano.</p>      
        
      		
</div>

 