<h5 class="header center" id="titulo">Prisma</h5>
    <div class="content" id=texto>
      	
	    <p class="text" id="texto" > Suas superfícies são constituídas de polígonos;</p>
        <p class="text" id="texto" > Cada um tem pelo menos duas faces contidas em planos paralelos;</p>
        <p class="text" id="texto" > Os planos que contêm as outras faces interceptam-se dois a dois em retas paralelas entre si.</p>
        <br>
        
        <h5 class="header center" id="titulo">Elementos</h5>
        <p class="text" id="texto" > Os polígonos ABCDE e A’B’C’D’E, chamados bases do prisma, são congruentes e estão situados em planos paralelos entre si; esses planos são os planos da base;</p>
        <p class="text" id="texto" > Os lados dos polígonos, <i class="sublinhado">AB</i> ,  <i class="sublinhado">BC</i>, <i class="sublinhado">CD</i>, <i class="sublinhado">DE</i> , <i class="sublinhado">EA</i> , <i class="sublinhado">A'B'</i>, <i class="sublinhado">B'C'</i>, <i class="sublinhado">C'D'</i>, <i class="sublinhado">D'E'</i>, e <i class="sublinhado">E'A'</i> são arestas da base;</p>
        <p class="text" id="texto" > Os segmentos <i class="sublinhado">AA'</i>, <i class="sublinhado">BB'</i>, <i class="sublinhado">CC'</i>, <i class="sublinhado">DD'</i> e <i class="sublinhado">EE'</i> são as arestas laterais;</p>
        <p class="text" id="texto" > Os paralelogramos AA’B’B, BB’C’C, CC’D’D, DD’E’E e EE’A’A são as faces laterais;</p>
        <p class="text" id="texto" > A distância entre os planos &alpha; e &beta; que contêm as bases, é a altura do prisma.</p>
        <br>

        <h5 class="header center" id="titulo">Classificação</h5>
        <p class="text" text-aling="center" > Os prismas são classificados em triangular, quadrangular, etc., conforme a base seja, respectivamente, um triangulo, um quadrilátero, etc.</p>
        <p class="text" text-aling="justify" > Quanto à inclinação das arestas laterais em relação aos planos das bases, os prismas são classificados em: </p>
        <p class="text" id="texto" > Prisma oblíquo: arestas laterais oblíquas aos planos das bases;</p>
        <p class="text" id="texto" > Prisma reto: arestas laterais perpendiculares aos planos das bases;</p>
        <p class="text" id="texto" > Prisma regular: prisma reto cujas bases são polígonos regulares.</p> 
        <br>

        <h5 class="header center" id="titulo">Áreas e volume de um prisma</h5>  
        <p class="text" id="texto3" > Área da base (Ab):</p> 
        <p class="text" id="texto" > Como a base de um prisma é um polígono, a área da base de um prisma é a área de um polígono.</p> 
        <p class="text" id="texto2" >Ab = bh/2</p> 
        <br>

        <p class="text" id="texto3" > Área lateral (Al):</p> 
        <p class="text" id="texto" > Como a superfície lateral de um prisma é a reunião de suas faces laterais, então a área dessa superfície é a soma das áreas das faces laterais.</p> 
        <p class="text" id="texto2" >Al = Soma das áreas das faces laterais</p>
        <br> 

        <p class="text" id="texto3" > Área total (At):</p> 
        <p class="text" id="texto" > Como a superfície total de um prisma é a reunião da superfície lateral com as bases, a área total de um prisma é dada por:</p> 
        <p class="text" id="texto2" >At = Al + 2 * Ab</p>
        <br> 

        <p class="text" id="texto3" > Volume (V) (At):</p> 
        <p class="text" id="texto" > O volume de um prisma é igual ao produto da área da base pela medida da altura.</p> 
        <p class="text" id="texto2" >V = Ab * h</p> 
        <br>


    </div>

 