<br>
<h5 class="header center" id="titulo"> Área do Prisma de 4 Lados Regular</h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Aresta da base" name="ArestadaBase" id="ArestadaBase" class="validate" min="1"/>
                            <label for="ArestadaBase">Aresta da base:</label>
                         </div>
                </div>

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="waves-effect waves-light btn" value="Resultado" onClick="CalPrismaRegular4lados(document.calcform.value)">Calcular</a>
              <a id="botao" class="waves-effect waves-light btn" value="Limpar" onClick="location.reload();">Limpar</a>
           </fieldset>  
        </form>                   
</div>


  