 <h5 class="header center" id="titulo">Calcular área da lateral  </h5>
         <table class="bordered">

        <tbody>
          <tr>
            <td> Face Lateral com Aresta base e altura</td>
            <td> <a href="#faceLateralObliquaComBaseEAlturaPrisma"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
            
          </tr>
          <tr>
            <td>Face Lateral com Aresta da Base, lateral e ângulo</td>
            <td> <a href="#faceLateralObliquaArestaBaseELateralEAnguloPrisma"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>
            
          </tr>
        </tbody>
      </table>