<br>
<h5 class="header center" id="titulo">Área da Base Cilindro</h5>
<div class="content" id="texto">

 
  
        <form name="calcform" method="post" action="">

           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Raio do Cilindro:" name="raio" id="raio" class="validate" min="1" step="0.01" />
                            <label for="raio">Raio do Cilindro:</label>
                         </div>
                </div>
            

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="waves-effect waves-light btn" value="Resultado" onClick="CalCilindroAreaBase(document.calcform.value)">Calcular <img src="font/material-design-icons/send.svg"></a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
      <h5 class="header center" id="titulo">Calcular também : </h5>

      <table class="bordered">

        <tbody>
          <tr>
            <td> Árera Lateral clindro Oblíquo</td>
            <td> <a href="#areaLateralCilindroObliquo"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
            
          </tr>
          <tr>
            <td>Árera Lateral clindro Reto</td>
            <td> <a href="#areaLateralCilindroReto"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>
            
          </tr>
        </tbody>
      </table>
            
  
</div>


  
