<br>
<h5 class="header center" id="titulo">Área da Lateral Cilindro Reto</h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Raio do Cilindro:" name="raio" id="raio" class="validate" min="1" step="0.01" />
                            <label for="raio">Raio do Cilindro:</label>
                         </div>
                </div>
                 <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Altura:" name="altura" id="altura" class="validate" min="1" step="0.01" />
                            <label for="raio">Altura:</label>
                         </div>
                </div>
            

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="btn waves-effect waves-teal" value="Resultado" onClick="CalCilindroAreaLateralReto(document.calcform.value)">Calcular</a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
        <h5 class="header center" id="titulo">Calcular também : </h5>

          <table class="bordered">

        <tbody>
          <tr>
            <td> Árera Lateral clindro Oblíquo</td>
            <td> <a href="#areaLateralCilindroObliquo"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <i class="material-icons">send</i></td>
            
          </tr>
          <tr>
            <td>Árera da Base cilindro</td>
            <td> <a href="#areaBaseCilindro"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <i class="material-icons">send</i></td>
            
          </tr>
        </tbody>
      </table>
        

</div>


  
  