<h5 class="header center" id="titulo">Área da Base Prisma 3 lados</h5>

 <table class="bordered">

        <tbody>
          <tr>
            <td> Prisma Regular 3 lados</td>
            <td> <a href="#3ladosRegular" onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
          <tr>
            <td> Prisma irregular com medida dos 3 lados</td>
            <td> <a href="#3ladosIrregularComMedidaDos3lados"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
           <tr>
            <td> Prisma irregular com base e altura</td>
            <td> <a href="#PrismaIrregularBaseEAltura"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <img src="font/material-design-icons/send.svg"></a></td>       
          </tr>
            <tr>
            <td> Prisma irregular com 2 lados e o ângulo inclinação</td>
            <td> <a href="#PrismaInrregularComAnguloEntre"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <img src="font/material-design-icons/send.svg"></a></td>       
          </tr>
        </tbody>
      </table>              