<br>
<h5 class="header center" id="titulo">Área Total do Prisma </h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Área da base" name="areaBase" id="areaBase" class="validate" min="1" step="0.01"/>
                            <label for="areaBase">Área da base:</label>
                         </div>
                </div>
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Área lateral" name="AreaLateral" id="AreaLateral" class="validate" min="1" step="0.01"/>
                            <label for="AreaLateral">Área lateral:</label>
                         </div>
                </div>

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="btn waves-effect waves-teal" value="Resultado" onClick="CalPrismaAreaTotal(document.calcform.value)">Calcular <img src="font/material-design-icons/send.svg"></a>
              <a id="botao" class="waves-effect waves-light btn" value="Limpar" onClick="location.reload();">Limpar</a>
           </fieldset>  
        </form>  

      <h5 class="header center" id="titulo">Calcular também : </h5>

      <table class="bordered">

        <tbody>
          <tr>
            <td> Àrea da Base do Prisma 3 lados</td>
            <td> <a href="#areaDaBase3lados"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
          <tr>
            <td> Àrea da Base do Prisma 4 lados</td>
            <td> <a href="#areaDaBase4lados"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>       
          </tr>
           <tr>
            <td> Àrea da Lateral do Prisma</td>
            <td> <a href="#areaLateral"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>
            
          </tr>
        </tbody>
      </table>                 
</div>


  