<br>
<h5 class="header center" id="titulo">Área da Base Cilindro</h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Raio do Cilindro:" name="raio" id="raio" class="validate" min="1" step="0.01" />
                            <label for="raio">Raio do Cilindro:</label>
                         </div>
                </div>
            

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="waves-effect waves-light btn" value="Resultado" onClick="CalCilindroAreaBase(document.calcform.value)">Calcular</a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
        <h5 class="header center" id="titulo">Cilindro :</h5>

         <a id="butoonEstilo"  class="waves-effect waves-teal btn-flat" href="#areaLateralCilindroObliquo" onclick="toTop();">Árera da Lateral Oblíquo</a>
         <a id="butoonEstilo"  class="waves-effect waves-teal btn-flat" href="#areaLateralCilindroReto" onclick="toTop();">Árera da Lateral Reto</a>
        

</div>


  
