<h5 class="header center" id="titulo">Área da Base Prisma 4 lados</h5>

      <table class="bordered">

        <tbody>
          <tr>
            <td>Prisma regular 4 lados </td>
            <td> <a href="#4ladosRegularPrisma"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
          <tr>
            <td> Trapézio</td>
            <td> <a href="#trapezio"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>       
          </tr>
           <tr>
            <td> Losango</td>
            <td> <a href="#losango"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>            
          </tr>
           <tr>
            <td> Paralelogramo</td>
            <td> <a href="#Paralelogramo"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>
            
          </tr>
        </tbody>
      </table>             