<br>
<h5 class="header center" id="titulo">Área do Losango</h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Diagonal Menor" name="diagonalMenor" id="diagonalMenor" class="validate" min="1" step="0.01" />
                            <label for="diagonalMenor">Diagonal Menor:</label>
                         </div>
                </div>
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Diagonal Maior" name="diagonalMaior" id="diagonalMaior" class="validate" min="1" step="0.01"/>
                            <label for="diagonalMaior">Diagonal Maior:</label>
                         </div>
                </div>

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="btn waves-effect waves-teal" value="Resultado" onClick="CalPrismaLosango(document.calcform.value)">Calcular <img src="font/material-design-icons/send.svg"></a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
        <h5 class="header center" id="titulo">Calcular área da base também de: </h5>

      <table class="bordered">

        <tbody>
          <tr>
            <td>Prisma 4 lados regular</td>
            <td> <a href="#4ladosRegularPrisma"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
          <tr>
            <td> Trapézio</td>
            <td> <a href="#trapezio"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content">
           <img src="font/material-design-icons/send.svg"></a></td>       
          </tr>
           <tr>
            <td>Paralelogramo</td>
            <td> <a href="#Paralelogramo"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
          </tr>
        </tbody>
      </table>         
</div>


  