<br>
<h5 class="header center" id="titulo">Área do Trapéio</h5>
<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Base Menor" name="baseMenor" id="baseMenor" class="validate" min="1" step="0.01" />
                            <label for="baseMenor">Base Menor:</label>
                         </div>
                </div>
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Base Maior" name="baseMaior" id="baseMaior" class="validate" min="1" step="0.01"/>
                            <label for="baseMaior">Base Maior:</label>
                         </div>
                </div>
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Altura" name="altura" id="altura" class="validate" min="1" step="0.01"/>
                            <label for="altura">Altura:</label>
                         </div>
                </div>

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="waves-effect waves-light btn" value="Resultado" onClick="CalPrismaTrapezio(document.calcform.value)">Calcular</a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
        <h5 class="header center" id="titulo">Ver a área tambem de :</h5>

         <a id="butoonEstilo"  class="waves-effect waves-teal btn-flat" href="#losango">Losango</a>
         <a  id="butoonEstilo" class="waves-effect waves-teal btn-flat" href="#Paralelogramo">Paralelogramo</a>

</div>


  