<br>
<h5 class="header center" id="titulo">Volume Prisma Irregular</h5>
<p class="text" id="texto2">Informa área da base, aresta lateral e ângulo de inclinação</p>

<div class="content" id="texto">
  
        <form name="calcform" method="post" action="">
           <fieldset>
                
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Área da Base" name="areaBase" id="areaBase" class="validate" min="1" step="0.01" />
                            <label for="areaBase">Área da Base:</label>
                         </div>
                </div>
                <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Aresta Lateral:" name="arestaLateral" id="arestaLateral" class="validate" min="1" step="0.01"/>
                            <label for="arestaLateral">Aresta Lateral:</label>
                         </div>
                </div>
                 <div class="row">
                        <div class="input-field col s6">
                            <input type="number" placeholder="Ângulo:" name="angulo" id="angulo" class="validate" min="1" step="0.01"/>
                            <label for="angulo">Ângulo:</label>
                         </div>
                </div>

              <label for="res">Resultado:</label>
              <input  type="text" name="res" id="res" />

              <a id="botao" class="waves-effect waves-light btn" value="Resultado" onClick="CalPrismaIrregularVolume(document.calcform.value)">Calcular <img src="font/material-design-icons/send.svg"></a>
              <input type="reset" id="botao" class="waves-effect waves-light btn" value="Limpar" />
                
           </fieldset>  
        </form>   
        <h5 class="header center" id="titulo">Calcular volume de: </h5>

      <table class="bordered">

        <tbody>
          <tr>
            <td> Volume Prisma regular</td>
            <td> <a href="#volumePrismaRegular"  onclick="toTop();" class="waves-effect waves-circle waves-light btn-floating secondary-content"> <img src="font/material-design-icons/send.svg"></a>
            </td>
            
          </tr>
        </tbody>
      </table>

</div>


  