
p, h1, h2, h3{
	font-family: sans-serif;
}

body{
	background-color: #fff;
}
#texto{
	margin-left: 3%;
	margin-right: 3%;
	text-align: justify;
	color: #494949;
}
#texto2{
	font-weight: bolder;
	text-align: center;
	color: #494949;
}

#texto3{
	font-weight: bolder;
	text-align: justify;
	color: #494949;
}
#titulo{
	color: #EE6E73;
	font-weight: bold;
}
#titulo2{
	color: #EE6E73;

}


#divDinamica{
	top:4rem;
	position: relative;

}

#BarraFixa{
	top:0rem;
	z-index: 999;
	position: fixed;
}

.sublinhado{
	text-decoration: overline;
}

.sublinhado2{
	text-decoration: overline ;
	font-weight: bolder;
}

#botao{
	text-decoration:none; 
}

#botao a:hover {
	text-decoration:none; 
	color: black;
}

#menuDrop li:focus{
	color:#000;
	background-color: #FFCDD2;

}

#butoonEstilo{
	text-decoration:none;
}

#butoonEstilo a:hover {
	color:#26a69a;
}